extends layout

block content

	div(style='float:left;' class='margin-10')
		a(href='/') Home
	
	div(style='float:right')
	
		if(username && authenticated)
			a(href='/users/signout' class='margin-10') Sign Out 
			a(href='/users/add_article' class='margin-10') Add Article 
			a(href='/users/profile' class='margin-10') Profile 
			span #{username}
		else
			a(href='/users/signin' class='margin-10') Login 
			a(href='/users/register' class='margin-10') Register 
			a(href='/users/forget' class='margin-10') Forget Password 

	div(style='padding: 50px')
		h1= title

	for blog in blogs
		div
			div(style='float:left;margin-top:10px;')= blog.username
			div(style='float:right;margin-top:10px;')= blog.createDate
			br
			div(style='clear:both')= blog.article
				a(href='/users/message/'+article.id, style='float:right;margin-top:105px;margin-right:20px;') Leave a message
			hr(style='margin-top:110px;')