extends layout

block content

	div(class='site-wrapper')
		div(class='site-wrapper-inner')
			div(class='cover-container')
				div(class='masthead clearfix')
					div(class='inner')
						h3(class='masthead-brand')= title
						nav
							ul(class='nav masthead-nav')
								li(class='active')
									a(href='/') Home
								
								if(username && authenticated)
									li
										a(href='/users/signout') Sign Out 
									li
										a(href='/users/add_article') Add Article 
									li
										a(href='/users/profile') Profile 
									li
										span #{username}

								else
									li
										a(href='/users/signin') Login 
									li
										a(href='/users/register') Register 						
									li
										a(href='/users/forget') Forget Password 
					for blog in blogs
						div(class='inner cover')
							p(class='lead')= blog.username
							p(class='lead')= blog.createDate
							p(class='lead')= blog.article
								a(href='/users/message/'+blog.id, style='float:right;margin-top:105px;margin-right:20px;') Leave a message


				div(class='mastfoot')
					div(class='inner')
						p Cover template for 
							a(href='http://getbootstrap.com') Bootstrap, by
							a(href='https://twitter.com/mdo') @mdo
